@import "bootstrap/dist/css/bootstrap.min.css";

.color-in-list__animal {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  text-align: start;
}

.title {
  font-weight: 700;
  color: #e74c3c;
}

.list-group-item:nth-child(odd) {
  background-color: #f6f6f6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #f1f1f1;
}

.create-container {
  margin-top: 40px;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgba(white, 1);
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;

  input {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;

    &:focus {
      box-shadow: 0 0px 2px rgba(#e74c3c, 1) !important;
    }
  }

  .create-btns {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }

  .cancel {
    width: 100%;
    padding: 10px 0;
    background-color: #a8a8a8;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }

  #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
    border: none;
    width: 100%;
    border-radius: 5px;
    &:hover {
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
